
table{
	width: 100%;
	text-align: center;
}

th, td, h3, h2, p {
	margin: 0px;
	padding: 1px;
	border: 0px;
}

.reel {
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	border: 5px solid black;
}