body {
	background-color: #593425;
	font-family: 'Playfair Display', sans-serif;
	overflow: auto;
	margin: 0;
}

#content{
	background-color: #0B0200;
	width: 960px;
	margin: auto;
	margin-top: 5px;
	overflow: auto;
}

/* Left Column */
#left_col_graphic img {	
	border: 5px solid #000000;
	float: left;
	width: 140px;
}


/* Main Content Column */

main {
	background-color: #D89D68;
	float: left;
    width: 660px;
}

/* Header */

header {
	border-top: 5px solid #000000;
	border-bottom: 5px solid #000000;
	overflow: auto;
}


#nav-graphic {
	background-color: #0B0200;
	float: left;
	height: 100px; 
	margin: 0px 0px 0px 0px;
	width: 330px;
}	

ul#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

#menu li{
	overflow: hidden;
	text-indent: -9999px;
	display: inline;
	float: left;
	margin-right: 10px;
}

#menu li a, #menu li span{
	background: url("../imgs/nav/navbar_sprite.png") no-repeat;
	width: 100%;
	height: 100%;
	display: block;
}


#menu li.left-books { height: 100px; width: 92px; margin: 0; }
	#menu li.left-books span{ background-position: 0px 0px;}

#menu li.home { height: 100px; width: 20px; margin: 0; }
	#menu li.home a{ background-position: -92px 0px; }
	#menu li.home a:hover{ background-position: -93px -100px; }

#menu li.about { height: 100px; width: 20px; margin: 0; }
	#menu li.about a{ background-position: -112px 0px;}
	#menu li.about a:hover{ background-position: -112px -100px; }

#menu li.blogs { height: 100px; width: 20px; margin: 0; }
	#menu li.blogs a{ background-position: -133px 0px;}
	#menu li.blogs a:hover{ background-position: -133px -99px; }

#menu li.contact { height: 100px; width: 14px; margin: 0; }
	#menu li.contact a{ background-position: -152px 0px;}
	#menu li.contact a:hover{ background-position: -153px -98px; }

#menu li.projects { height: 100px; width: 20px; margin: 0; }
	#menu li.projects a{ background-position: -166px 0px; }
	#menu li.projects a:hover{ background-position: -167px -98px; }

#menu li.resume { height: 100px; width: 16px; margin: 0; }
	#menu li.resume a{ background-position: -184px 0px;}
	#menu li.resume a:hover{ background-position: -185px -98px; }

#menu li.right-books { height: 100px; width: 114px; }
	#menu li.right-books span{ background-position: -200px 0px; }

#name {
	background-color: #8D4722;
	color: #FFFFFF;
	float: left;
	font-size: 18pt;
	font-weight: bold;
	height: 50px;
	margin: 0px 0px 0px 0px;
	padding: 25px 0px 25px 0px;
	text-align: center;
	width: 330px;
}

#breadcrumb {
	border-bottom: 1px solid #000000;
	margin: 0px 10px 0px 10px;
	padding: 5px;
}

.home_post {
	margin: 0px 10px 0px 10px;
	padding: 5px;
}

article {
	overflow: auto;
}

article p{
  float: left;
  line-height : 1.5;
  margin-right: 20px;
  width: 290px;
}

.drop-cap{
  float       : left;
  font-size   : 3.26em;
  font-weight: bold;
  line-height : 0.5;
  margin      : 0.205em 0.153em 0 0;
}

.drop-cap + span{
  margin-left : -0.5em;
}


/* Right Column */

#right_col_graphic img {
	border: 5px solid #000000;
	float: left;
	width: 140px;
}

/* Footer */

footer {
	clear: both;
}

#globe img {
	float: left;
	width: 140px;
	height: 140px;
	border: 5px solid black;
}

#footer-center {
	background-color: #D89D68; /* content background */
	background-image: url(../imgs/footer/bookshelves_repeating.png);
	background-position: 0px 95px; 
	background-repeat: repeat-x;
	float: left;
	height: 150px;
	width: 660px;
}

nav {
	float: left;
	text-align: center;
	margin: 25px 0px 25px 0px; 
	width: 100%;
}

#copyright {
	clear: left;
	font-size: 10pt;
	font-family: serif;
	float: left;
	text-align: center;
	width: 100%;
}

#lamp img {
	width: 140px;
	height: 140px;
	border: 5px solid black;
	float: left;
}
