/* *** ENTIRE PAGE *** */
body {
	background-color: #593425;
	font-family: 'Playfair Display', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0;
}

* {
	font-size: 12pt;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/************************
header
************************/

header {
	margin: 0;
	padding: 0;
	height: 100px;
	font-size: 0;
}


#top-left-corner {
	display: inline-block;
	width: 150px;
	height: 100px;
	background-image: url(../imgs/nav/books_left.png);
	background-repeat: repeat-x;
}

#top-right-corner {
	display: inline-block;
	width: 150px;
	height: 100px;
	background-image: url(../imgs/nav/books_left.png);
	background-repeat: repeat-x;
}

#name-and-nav {
	display: inline-block;
	border-bottom: 1px solid #000000;
	font-size: 0;
	margin: 0;
	padding: 0;
	height: 100px;
}

#name {
	border-bottom: 1px solid #000000;
	float: left;
	clear: left;
	background-color: #8D4722;
	color: #FFFFFF;
	font-size: 18pt;
	font-weight: none;
	height: 40px;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav {
	float: left;
	clear: left;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	margin: 5px 0px;
	padding: 5px 15px;
	width: 100%;
	height: 60px;            
}

nav a {
    display: inline-block;
    border: 1px solid;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
	color: #FFFFFF;
	background-color: #8D4722;
	margin: 5px 0px;
    padding: 5px 15px;
}

/* *** THE COLUMNS *** */

.margin_column {
	display: inline-block;	
   	width: 150px;
	height: 639px;	
   	margin: 0;
   	padding: 0;
	background-color: #000000;
	background-repeat: no-repeat;
}

#left_col {
	background-image: url(../imgs/left_column_books.png);
}

#right_col {
	background-image: url(../imgs/right_column_books.png);
}

/* Main (Middle) Content Column Addendum*/

main {
	display: inline-block;
	background-color: #D89D68;
	margin: 0;
	padding: 0;
}


#breadcrumb {
	border-bottom: 1px solid #000000;
	margin: 0px 10px 0px 10px;
	padding: 5px;
}

.home_post {
	margin: 0px 10px 0px 10px;
	padding: 5px;
}

article {
	overflow: auto;
	max-height: 460px;
}

article p{
  float: left; 
  line-height : 1.5;
  margin-right: 20px;
}

article pre{
	float: left;
}

article ul{
	float: left;
}

.drop-cap{
  float       : left;
  font-size   : 3.26em;
  font-weight: bold;
  line-height : 0.5;
  margin      : 0.205em 0.153em 0 0;
}

.drop-cap + span{
  margin-left : -0.5em;
}

footer {
	width: 100%;
}

#copyright {
	padding: 5px;
	margin: 0px;
	font-family: serif;
	font-size: 10pt;
	color: #FFFFFF;
	text-align: center;
}

#footer-graphic {
	background-color: #D89D68;
	background-image: url(../imgs/footer/bookshelves_repeating.png);
	background-position: 0px 100px; 
	background-repeat: repeat-x;
	height: 100px;
	width: 100%;
}

/************************************************************************************
Bookshelf Interactice Menu Graphic
*************************************************************************************/

#nav-graphic {
	display: inline-block;
	position:relative;
	bottom:0;
	background-color: #0B0200;
	height: 100px;   /* Height of the footer */
	margin: auto;
}	

ul#menu {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
}

#menu li{
	overflow: hidden;
	text-indent: -9999px;
	display: inline;
	float: left;
	margin-right: 10px;
}

#menu li a, #menu li span{
	background: url("../imgs/nav/navbar_sprite.png") no-repeat;
	width: 100%;
	height: 100%;
	display: block;
}

/* 110px of nav books not including left and right static books */

#menu li.left-books { height: 100px; width: 92px; margin: 0; }
	#menu li.left-books span{ background-position: 0px 0px;}

#menu li.home { height: 100px; width: 20px; margin: 0; }
	#menu li.home a{ background-position: -92px 0px; }
	#menu li.home a:hover{ background-position: -93px -100px; }

#menu li.about { height: 100px; width: 20px; margin: 0; }
	#menu li.about a{ background-position: -112px 0px;}
	#menu li.about a:hover{ background-position: -112px -100px; }

#menu li.blogs { height: 100px; width: 20px; margin: 0; }
	#menu li.blogs a{ background-position: -133px 0px;}
	#menu li.blogs a:hover{ background-position: -133px -99px; }

#menu li.contact { height: 100px; width: 14px; margin: 0; }
	#menu li.contact a{ background-position: -152px 0px;}
	#menu li.contact a:hover{ background-position: -153px -98px; }

#menu li.projects { height: 100px; width: 20px; margin: 0; }
	#menu li.projects a{ background-position: -166px 0px; }
	#menu li.projects a:hover{ background-position: -167px -98px; }

#menu li.resume { height: 100px; width: 16px; margin: 0; }
	#menu li.resume a{ background-position: -184px 0px;}
	#menu li.resume a:hover{ background-position: -185px -98px; }

#menu li.right-books { height: 100px; width: 114px; }
	#menu li.right-books span{ background-position: -200px 0px; }



/************************************************************************************
MEDIA QUERIES
*************************************************************************************/

@media screen and (min-width: 1200px){
	main {
		width: 900px;
	}
	#name-and-nav {
		width: 790px;  /* 900px (main) - 110px (book animated nav) */
	}
}

@media screen and (min-width: 940px) and (max-width: 1199){
	main {
		width: 640px;
	}
	#name-and-nav {
		width: 530px; /* 640px (main) - 110px (book animated nav) */
	}
}

@media screen and (max-width: 939px){
	main {
		width: 100%;
	}
	.mobile-hide {
		display: none;
	}

}