#sections {
	overflow: auto;
	max-height: 460px;
}

main section {
	border: 1px solid #FFFFFF;
	margin: 10px 10px 10px 10px;
	overflow: auto;	
}

img.project-graphic-thumbnail {
	float: left;
	height: 95%;
	max-width: 20%;
	margin: 15px 5px 5px 5px;
}

article.project-summary  {
	float: left;
	margin: 10px 10px 10px 10px;
	width: 75%;
}

.project-summary h2 {
	font-size: 14pt;
	margin: 5px 0px 5px 0px;
}


.project-summary p {
	font-size: 12pt;
	margin: 0;	
}

article.project-post {
	margin: 10px 20px 10px 20px;
	max-height: 460px;
	overflow: auto;
}


img {
	width: 100%;
}

img.topic-graphic {
}
